##################################
# OSX Specific Files
##################################
.DS_Store
.AppleDouble
.LSOverride

# Icon file (must end with two carriage returns)
Icon

# Thumbnails
._*

# Files from external disks and network shares
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP shares
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


##################################
# Python
##################################
# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ll_env/  
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller artifacts
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Sphinx documentation builds
docs/_build/

# PyBuilder
target/


##################################
# Django Specific
##################################
# Django log files
*.log

# Django local settings (if not meant to be version-controlled)
local_settings.py

# Environment variables / secret settings
.env



# SQLite database file
db.sqlite3


##################################
# IDE / Editor Directories
##################################
.idea/
.vscode/
